// Colors
$body_bg_color: #f2f2f2;
$dropzone_wrapper_bg_color: #262626;
$dragzone_wrapper_bg_color: #e6e6e6;
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    background: $body_bg_color;
    color: #dedede;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#user_form {
    text-align: center;
    transition: all .2s ease-out;
    input,
    label {
        display: block;
        margin: 15px 0;
        text-transform: uppercase;
    }
    label {
        color: darkgrey;
    }
    input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #dedede;
        height: 30px;
        padding: 0 10px;
        background-color: transparent;
        outline: none;
        transition: all .25s ease-out;
    }
    input:focus {
        border-bottom: 2px solid darkgrey;
    }
}

#name {
    font-size: 24px;
    text-align: center;
    color: darkgrey;
    text-transform: uppercase;
}

#counter {
    color: darkgrey;
    font-family: Courier New, Courier, monospace;
    font-size: 48px;
    text-align: center;
}

#puzzle_done, #user_info, #top_scores {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all .2s ease-out;
}

#puzzle_done {
    text-align: center;
}

#top_scores {
    color: darkgrey;
    .scores_title {
        text-align: center;
        text-transform: uppercase;
    }
}

.left {
    margin-right: 50px;
}

#dropzone_wrapper {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#dragzone_wrapper {
    background-color: $dragzone_wrapper_bg_color;
    width: 390px;
    height: 300px;
    border: 1px solid #b7b7b7;
    margin-top: 100px;
    position: relative;
}

.dropzone {
    background: #262626;
    background-size: 0% !important;
    width: 196px;
    height: 196px;
    border: 2px solid white;
    margin: 0;
}

.dropzone.active {
    background-size: cover !important;
}

.draggable {
    position: absolute;
    width: 130px;
    height: 130px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #262626;
    &.dropped {
        visibility: hidden;
    }
}